<!DOCTYPE html>
<html> 
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Ltl URL Shortener</title>
    </head>
    <body class="bg-secondary">
        <div class="container text-white" align="center">
            </br></br></br></br></br></br></br></br>
            Looks like there was an error!
            </br></br>
            {{ error_message }}
            </br></br>
            <a href="{{ url_for('home') }}" class="text-dark underline">Let's try again, click here!</a>
        </div>
    </body>
</html>