<!DOCTYPE html>
<html> 
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Ltl URL Shortener</title>
    </head>
    <body class="bg-secondary">
        </br></br></br></br></br>
        <h2 class="article-title" align="center">
            <div class="bg-secondary text-white">
                My Ltl URL Shortener
            </div>
        </h2>
        <div class="form-group" align="center">
            </br></br></br></br></br>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {% if form.original_url.errors %}
                            {{ form.original_url(class="form-text is-invalid") }}
                            <div class="text-white">
                                </br>
                                {% for error in form.original_url.errors %}
                                    <span>{{ error }}</span>
                                    </br>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.original_url(class="form-text") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-dark mb-1", value="SHRTN!") }}
                </div>
            </form>
        </div>
    </body>
</html>